@page "/application"
@using System.Text.Json
@using BCI.Extensions.DDD.ApplicationService;
@using BCI.Extensions.Core.Json;
@using AirCC.Portal.AppService.ApplicationDtos;
@using AirCC.PortalUI
@inject HttpClient Http
@inject IJsonSerializer json

@if (result?.DataList == null)
{
    <p><em>Loading app...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Client Secret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in result.DataList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ClientSecret</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    //private PagedResultDto<ApplicationListOutput> result;
    private PagedResultDto<ApplicationListOutput> result;

    protected override async Task OnInitializedAsync()
    {
        var original = await Http.GetAsync("api/app/pagedList/aircc/1");
        result = json.Deserialize<PagedResultDto<ApplicationListOutput>>(await original.Content.ReadAsStringAsync());

    }
}
