@page "/application"
@using System.Text.Json
@using BCI.Extensions.DDD.ApplicationService;
@using AirCC.Portal.AppService.ApplicationDtos;
@using AirCC.PortalUI
@inject HttpClient Http

@if (result?.DataList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Client Secret</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in result.DataList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.ClientSecret</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PagedResultDto<ApplicationListOutput> result;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            result = await Http.GetFromJsonAsync<PagedResultDto<ApplicationListOutput>>("api/app/pagedList/aircc/1");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
        }
    }
}
